<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://kit.fontawesome.com/b29d4baab6.js" crossorigin="anonymous"></script>
        <title>MercadoLiebre</title>
    </head>
    <body class="home">
        <header class="main-header">
            <div class="search-container">
                <img src="/images/logo-mercado-liebre.svg" alt="logo">
    
                <form>
                    <input name="buscar" type="text" placeholder="Buscar productos">
                    <button type="submit" name="buscar"><i class="fas fa-search"></i></button>    
                </form>
    
                <div class="cuotes-container">
                    <i class="fas fa-hand-holding-usd"></i>
                    <h2>Comprá en cuotas y sin tarjeta de crédito</h2>
                </div>
            </div>
            <nav>
                <ul class="nav-1">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                
                <ul class="nav-2">
                    <li><a href="/registro">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
    
            <a class="burger" href="#"><i class="fas fa-bars"></i></a>
        </header>
        <main>
    
            <img class="banner" src="/images/img-home-banner.jpg" alt="banner" width="100%">
    
            <div class="main">
                <section>
                    <h2>Basado en tu última visita</h2>
    
                    <div class="container">
                        <article>
                            <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera" width="100%">
    
                            <div>
                                <i class="fas fa-truck"></i>
                                <p class="precio">$6.770</p>
                                <p class="discount">40% OFF</p>
                
                                <h3>Cafetera Moulinex</h3>
                            </div>
                        </article>
                        <article>
                            <img src="/images/img-macbook-pro-2019.jpg" alt="macbook" width="100%">
    
                            <div>
                                <i class="fas fa-truck"></i>
                                <p class="price">$230.000</p>
                                <p class="discount">20% off</p>
    
                                <h3>MacBook Pro 2019</h3>
                            </div>
                        </article>
                        <article>
                            <img src="/images/img-samsung-galaxy-s10.jpg" alt="celular" width="100%">
    
                            <div>
                                <i class="fas fa-truck"></i>
                                <p class="price">$70.500</p>
                                <p class="discount">10% off</p>
    
                                <h3>Samsung Galaxy S10</h3>
                            </div>
                        </article>
                        <article>
                            <img src="/images/img-tv-samsung-smart.jpg" alt="tv" width="100%">
    
                            <div>
                                <i class="fas fa-truck"></i>
                                <p class="price">$23.200</p>
                                <p class="discount">5% off</p>
    
                                <h3>SmartTv Samsung 43"</h3>
                            </div>
                        </article>
                    </div>
                </section>  
                <section>
    
                    <h2>Ofertas</h2>
    
                    <div class="flex-container">
                        <article>
                            <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera" width="100%">
    
                            <div>
                                <i class="fas fa-truck"></i>
                                <p class="price">$6.770</p>
                                <p class="discount">40% off</p>
    
                                <h3>Cafetera Moulinex</h3>
                            </div>
                        </article>
                        <article>
                            <img src="/images/img-macbook-pro-2019.jpg" alt="macbook" width="100%">
    
                            <div>
                                <i class="fas fa-truck"></i>
                                <p class="price">$230.000</p>
                                <p class="discount">20% off</p>
    
                                <h3>MacBook Pro 2019</h3>
                            </div>
                        </article>
                        <article>
                            <img src="/images/img-samsung-galaxy-s10.jpg" alt="celular" width="100%">
    
                            <div>
                                <i class="fas fa-truck"></i>
                                <p class="price">$70.500</p>
                                <p class="discount">10% off</p>
    
                                <h3>Samsung Galaxy S10</h3>
                            </div>
                        </article>
                        <article>
                            <img src="/images/img-tv-samsung-smart.jpg" alt="tv" width="100%">
    
                            <div>
                                <i class="fas fa-truck"></i>
                                <p class="price">$23.200</p>
                                <p class="discount">5% off</p>
                                
                                <h3>SmartTv Samsung 43"</h3>
                            </div>
                        </article>
                    </div>
                </section>
            </div>
        </main>
        <footer>
            <article>
                <i class="fas fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
    
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article>
                <i class="fas fa-gift"></i>
                <h4>Envío gratis desde $ 2.500</h4>
    
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article>
                <i class="fas fa-user-shield"></i>
                <h4>Seguridad, de principio a fin</h4>
    
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </article>
    
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </footer>
    </body>
    </html>