
/* FOOTER */

 footer{
    background-color: #ffffff;
}

 footer article{
    text-align: center;
    margin-bottom: 30px;
}

 footer article i{
    color:  #1259c3;
    font-size: 2em;
    margin: 60px 0px 10px 0px;

}

 footer p{
    padding: 0px 10px 10px;
}


