*{
    margin: 0%;
    font-family: "Roboto";
    padding: 0%;
    box-sizing: border-box;
    /* text-align: center; */
}

body{
    background-color: #ebebeb;
}

body p,header h2{
    font-size: 12px;
}

a{
    text-decoration: none;
    color: #000000;
}

li{
    list-style: none;
}